@import "tailwindcss";

@theme {
  /* Your Custom Theme Colors */
  --color-primary: #17cf17;
  --color-tangerine-orange: #FF8C00;
  --color-cyan-blue: #00CED1;

  /* Your Custom Fonts */
  --font-lexend: "Lexend", sans-serif;
}

@layer base {
  body {
    background-color: #F5F5DC; 
    color: #8B7355;
    font-family: var(--font-lexend);
  }
}